@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to GymFit - Your Ultimate Fitness Destination!</p>
    <p>Here at GymFit, we are dedicated to helping you reach your fitness goals in a supportive and invigorating environment. Browse through our diverse range of membership plans to find one that best suits your workout style. Whether you're just starting out or are a seasoned athlete, we have something for everyone.</p>
    <p>Not sure where to start? No problem! Our website allows you to explore various fitness classes and gym facilities without any commitment. Get a feel for what we offer and how we can be part of your fitness journey.</p>
    <p>Ready to take the next step? Reach out to one of our administrators for assistance in purchasing a membership or enrolling in a class. Our team is always here to support and guide you towards achieving your health and fitness goals.</p>
    <p>Join GymFit today and embark on a path to a healthier and happier you!</p>
</div>
